.hero {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 150px 0px 60px 0px;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        height: 100vh;
        padding-top: 70px;
    }

    .social-medias {
        margin-top: 24px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        
        &__list {
            display: flex;
            gap: 24px;
        }
    }

    &__container {
        margin: 0 auto;
        color: rgb(255, 192, 203);
        position: relative;
        max-width: 710px;
        width: 100%;
    }

    &__text-container {
        margin: 0 12px;
    }

    &__text {
        color: rgb(211, 162, 170);
        text-align: center;
        font-family: 'Instrument Sans', sans-serif;
    }

    &__button-group {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 20px;

        @media (max-width: 768px) {
            display: block;
            text-align: center;
            margin-top: 20px;
        }
    }

    &__button {
        margin-top: 24px;
        width: 215px;
    }

    &__title {
        color: rgb(255, 192, 203);

        @media (max-width: 768px) {
            text-align: center;
            .special-text {
                display: block;
                font-size: 55px;
            }
        }
        
    }

    &__arrow-down {
        position: relative;
        display: flex;
        justify-content: center;
        color: #f9f9f9;
        font-size: 24px;
        margin-top: 64px;
        animation: up-and-down 1.5s ease-in-out infinite;
        opacity: 1;
        transition: opacity .3s ease-in-out;

        @media (max-width: 768px) {
            margin-top: 14px;
        }
    }

    &__subtitle {
        display: block;
        width: 110px;
        margin: 40px auto 0 auto;

        @media (max-width: 768px) {
            margin-top: 24px;
        }
    }

    &__birthday-day {
        display: flex;
        line-height: 80px;
        margin: 0 auto;
        font-size: 100px;
        justify-content: center;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .7;
    }
}

@keyframes up-and-down {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 14px);
    }
}