@mixin title($size) {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: $size;
}

.title {
    &--big {
        @include title(5vw);

        @media (max-width: 768px) {
            @include title(10vw)
        }
    }

    &--medium {
        @include title(4vw);

        @media (min-width: 1024px) {
            @include title(2vw);
        }
        
        @media (max-width: 768px) {
            @include title(8vw)
        }
        
        @media (min-width: 768px) and (max-width: 1024px) {
            @include title(6vw)
        }
    }

    &--small {
        @include title(1.4vw);
    }
}

.text {
    font-size: 18px;
    font-weight: 400;

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 30px;
    }
}

@mixin section {
    position: relative;
    margin-bottom: 64px;

    @media (min-width: 768px) and (max-width: 1024px) {
        margin-bottom: 96px;
    }

    .container {
        display: flex;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    .image-container {
        max-width: 500px;
        width: 100%;
        
        @media (min-width: 768px) {
            max-width: none;
            width: auto;
        }

        .image {
            max-width: 500px;
            max-height: 350px;
            border-radius: 6px;

            @media (min-width: 768px) and (max-width: 1024px) {
                max-width: none;
                max-height: none;
                width: 100%;
            }

            @media (max-width: 767px) {
                max-width: 100%;
            }
        }
    }

    .text-container {
        
        @media (max-width: 768px) {
            margin: 16px 0 0 0;
        }
        
        @media (min-width: 1024px) {
            max-width: 600px;
            margin-left: 24px;
        }
    }

    .text {
        color: #f9f9f9;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 4px;
    }

    .title {
        color: #d5586e;
        
        @media (max-width: 1024px) {
            margin-top: 16px;
        }
        
        &--secondary {
            color: #4280c7;
        }
    }
    
    .button {
        margin-top: 32px
    }
}

.section {
    @include section;
}

@mixin button {
    color: #f9f9f9;
    text-align: center;
    text-decoration: none;
    background-color: #41767b;
    position: relative;
    padding: 14px 10px;
    cursor: pointer;
    user-select: none;
    height: 48px;
    min-width: 150px;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 5px 0 #345e62;
    border-radius: 5px;
    letter-spacing: 1px;

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 300px;
        height: 72px;
        font-size: 27px;
        line-height: 44px;
        
    }

    &:active {
        top:3px;
        background-color: darken(#41767b , 2%);
        box-shadow: inset 0 -3px 0 darken(#41767b , 10%);
    }

    &--secondary {
        background-color: #b85466;
        box-shadow: 0 5px 0 darken(#cc546a, 10%);

        &:active {
            top:3px;
            background-color: darken(#b85466 , 2%);
            box-shadow: inset 0 -3px 0 darken(#b85466 , 10%);
        }
    }
}

.button {
    @include button;
}