@mixin title($size) {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: $size;
}

.title {
    &--big {
        @include title(80px);
    }

    &--medium {
        @include title(26px);
    }

    &--small {
        @include title(20px);
    }
}

@mixin section {
    display: flex;
    position: relative;
    margin-bottom: 48px;
    .image-container {
        max-width: 500px;
        width: 100%;

        .image {
            max-width: 500px;
            max-height: 350px;
            width: 100%;
            height: 100%;
            border-radius: 6px;
        }
    }

    .text-container {
        margin-left: 24px;
        max-width: 600px;
    }

    .text {
        color: #f9f9f9;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 4px;
    }

    .title {
        color: #d5586e;
        
        &--secondary {
            color: #4280c7;
        }
    }
    
    .button {
        margin-top: 24px
    }
}

.section {
    @include section;
}

@mixin button {
    text-decoration: none;
    color: #f9f9f9;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 10px;
    min-width: 150px;
    text-align: center;
    border-radius: 6px;
    background-color: #41767b;
    transition: background-color .3s ease;
    
    &:hover {
        background-color: #386367;
    }

    &--secondary {
        background-color: #cc546a;

        &:hover {
            background-color: #b3495d;
        }
    }
}

.button {
    @include button;
}