.sections {
    background-color: #DBFCFF;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    position: relative;
    padding: 48px 48px 100px 48px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        opacity: .8;
    }
}