.sections {
    background-color: #273536;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0;
    position: relative;
    padding: 48px;

    @media (max-width: 768px) {
        padding: 32px 12px 12px 12px;
    }

    .section {
        margin-bottom: 64px;
    }
}