@use 'mixins';
@use 'hero';
@use 'location';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.fa-brands {
    font-size: 20px;
    color: #fff;
}

.text {
    font-size: 18px;
    font-weight: 400;
}
