@use 'mixins';
@use 'hero';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #273536;
    height: 1615px;
}

.sections {
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0;
    position: relative;
    padding: 48px;

    @media (max-width: 767px) {
        padding: 32px 12px 32px 12px;
    }
}

.send-your-gift {
    margin-bottom: 0;
}